
@font-face {
	font-family: 'Post No Bills Jaffna';
	src: url('../fonts/POST NO BILLS JAFFNA SEMIBOLD/PostNoBillsJaffna-Bold.eot');
	src: local('☺'), url('../fonts/POST NO BILLS JAFFNA SEMIBOLD/PostNoBillsJaffna-Bold.woff') format('woff'), url('../fonts/POST NO BILLS JAFFNA SEMIBOLD/PostNoBillsJaffna-Bold.ttf') format('truetype'), url('../fonts/POST NO BILLS JAFFNA SEMIBOLD/PostNoBillsJaffna-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}



*,*:before,*:after {
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
a {text-decoration: none;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
html,body{
height: 100%;
width: 100%;
scroll-behavior: smooth;
background-color: black;
color: white;
font-family: 'PT Sans', sans-serif;
}
ul, li {
    list-style: none;
}



h1 {
    font-family: 'Post No Bills Jaffna';
}
h2 {
    font-family: 'Playfair Display', serif;
}



.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
._container {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
   justify-content: space-between;
   align-items: center;
}


.header {
}
.header__container {
    padding: 0px 10px;
}

.header__top {
   padding: 10px 10px;  
}
.header__top__info {
    display: flex;
    align-items: center;
}
.info {
    font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #969696;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__tel__icon {
    margin-right: 16px;
}
.info__tel {
    margin-right: 25px;
}
.info__tel a { color: inherit;}
.info__tel a:hover { color: #c1c1c1;}
.info__grafic {
    margin-right: 25px;
}
.info__tel::before,
.info__grafic::before {
    content: '';
    position: absolute;
    right: -12px;
    background-color: grey;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 60%;
}

.info__time {
}

.header__top__exit a{
    color: #969696;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
}
.header__top__exit a:hover{color: #c1c1c1;}
.header__top__exit img{
    margin-right: 12px;
}


.header__bottom {
    background-color: #0F0F0F;
    padding: 0px 10px;
}
.header__logo a{
    font-family: 'Post No Bills Jaffna';
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
.header__bottom_menu{
    display: flex;
    align-items: center;
}
.header__menu {
}
.header__list {
    display: flex;
    align-items: center;
}
.header__link {
    padding: 0 20px;
    font-size: 14px;
line-height: 54px;
text-transform: uppercase;
color: #FFFFFF;
height: 100%;
display: inline-block;
transition: all 0.3s ease 0s;
}
.header__link.active {
    background-color: #1F1F1F;
}
.header__link.active:hover {
    background-color: #161616;
}
.header__link:hover {
    background-color: #1F1F1F;
}

.header__icons {
    margin-left: 60px;
    display: flex;
    align-items: center;
}

.header__icons img:hover{opacity: 0.5;}
.header__magazine {
}
.header__search {
    margin-left: 44px;
}
.header__burger {
    display: none;
}
@media(max-width: 767px){
    .header__top {  padding: 0;  }
    .header__bottom { padding:5px 20px 0px 20px; }
    .header__icons {  margin-left: 0px;}
    .header__search {  margin-left: 14px; margin-right: 20px;}
    .header__top__exit a{
        color: #969696;
        font-size: 17px;
        display: block;
        text-align: center;
    }
    .header__top__info {  display: block; margin-top: 20px;}
    .info {
    font-size: 14px;
     margin-bottom: 10px;
    }
    .info__tel__icon, .info__tel,  .info__grafic{ margin-right: 0px;}
    .info__tel::before,
    .info__grafic::before {content: none;}
     body .lock { overflow: hidden;}
       .header__burger {
             cursor: pointer;
             display: block;
             position: relative;
             width: 30px;
             height: 20px;
             z-index: 3;
       }   
       .header__burger span{
       position: absolute;
       background-color: white;
       left: 0;
       width: 100%;
       height: 2px;
       top: 9px;
       transition: 0.4s;
       }
       .header__burger::before,
       .header__burger::after{
           content: '';
           background-color: white;
           position: absolute;
           width: 100%;
           height: 2px;
           left: 0;
           transition: 0.4s;
        }
        .header__burger::before {
         top: 0;
        }
         .header__burger::after {
         bottom: 0;
          }
         .header__burger.active span {
           transform: scale(0);
         }
         .header__burger.active:before {
             transform: rotate(45deg);
             top: 9px;
         }
         .header__burger.active:after {
          transform: rotate(-45deg);
          bottom: 9px;
          }
         .header__menu {
          position: fixed;
          top: -100%;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.4s;
          background-color: rgb(0, 0, 0, 0.9);
          padding: 120px 10px 20px 10px  ;
           overflow: auto;
           z-index: 1;
          }
          .header__menu.active {
           top: 0;
          }  
         .header__list {
          display: block;
          text-align: center;
          position: relative;
        }
        .header__list::before,
        .header__list::after {
            content: '';
            position: absolute;
            width: 20%;
            transform: translate(-50%, 0);
            background-color: #969696;
            height: 1px;
            left: 50%;
          }
        .header__list::before {
            top: -15px;
        }

         .header__list li {
          margin-top: 30px;
        }
        .header__link {
            padding: 0 40px;
            font-size: 18px;
        display: inline-block;
        }
}

.page {
    flex: 1 1 auto;
}

.fullscreen {
    background: url('../images/page/header.jpg') center /  cover no-repeat;
    background-attachment: fixed;
}
.fullscreen__container {
    padding: 160px 10px;
    margin: 0 auto;
}
.fullscreen__content {
    margin: 0 auto;
    text-align: center; 
    margin-bottom: 80px;
}
.fullscreen__content_body {
    display: inline-block;
    border: 4px solid white;
    padding: 93px 68px;
}

.fullscreen__title {
    font-size: 64px;
line-height: 96px;
text-align: center;
text-transform: uppercase;
position: relative;
z-index: 0;
}
.fullscreen__title::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 10px;
   background-color: white;
}

.fullscreen__subtitle {
    font-family: 'PT Sans';
    font-weight: 400;
font-size: 22px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
}
.fullscreen__text {
    text-align: center;
    font-size: 16px;
line-height: 150%;
max-width: 730px;
margin: 0 auto;
text-transform: uppercase;
}

@media (max-width: 1100px){
    .fullscreen__container {  padding: 120px 10px; }
}
@media (max-width: 900px){
    .fullscreen {  background-attachment:local;}
}
@media (max-width: 767px){
    .fullscreen__container {  padding: 80px 10px; }
    .fullscreen__content { margin-bottom: 40px;}
    .fullscreen__content_body { padding: 33px 28px; }
    .fullscreen__title { font-size: 44px; position: relative;}
    .fullscreen__title::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 10px;
        background-color: white;
     }
     .fullscreen__subtitle { font-size: 15px;}
     .fullscreen__text {
        text-align: center;
        font-size: 13px;
    line-height: 110%;
    }
}






.collection {
}
.collection__container {
}
.new__collection {
    display: flex;
    justify-content: center;
}
.collection__content {
    flex: 0 1 55%;
}
.collection__content__body {
    padding: 90px 80px;
}
.collection__content__title {
    text-align: center;
    margin-bottom: 90px;
    font-size: 36px;
line-height: 42px;
text-transform: uppercase;
position: relative;
}
.collection__content__title::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    bottom: -44px;
    background-color: white;
    left: 50%;
    transform: translate(-50%,0);
}

.collection__content__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.content__card {
   
}
.card__photo {
    background-color: #191B1C;
    padding: 55px 22px;
    margin-bottom: 23px;
}
.card__photo img {max-width: 100%; display: block; transition: all 0.3s ease 0s;}
.card__photo img:hover {outline: 1px solid gray;transform: scale(1.1);}

.card_title {
    margin-bottom: 10px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: white;
    display: block;
}
.card_title:hover { text-decoration: underline;}
.card__price {
    font-family: 'Playfair Display';
    font-size: 16px;
    line-height: 19px;    
}

.collection__photo {
    background: url('../images/page/colection-img1.jpg') center / cover no-repeat;
    flex: 0 1 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
}
.collection__photo__body {
    
}
.collection__photo__title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 60px;
    position: relative;
}
.collection__photo__title::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    bottom: -29px;
    background-color: white;
    left: 50%;
    transform: translate(-50%,0);
}
.collection__photo__btn {
    text-align: center;
    font-weight: 400;
font-size: 18px;
line-height: 23px;
letter-spacing: 0.1em;
text-transform: uppercase;

}
.collection__photo__btn a {
    color: white;
    padding: 5px 30px;
    border: 1px solid white;
    transition: all 0.3s ease 0s;
}
.collection__photo__btn a:hover{
    background-color: rgb(193, 193, 193);
    color: black;
}




.all__collection {
    display: flex;
    justify-content: center;
}
.all__photo {
    flex: 0 1 45%;
    background: url('../images/page/colection-img2.jpg') center / cover no-repeat;
}

.all__content {
    flex: 0 1 55%;
    display: flex;
    justify-content: center;
    padding: 100px 10px;
}
.all__collection_body {
    max-width: 500px;
   margin: 0 auto;
   text-align: center;
}
.all__collection_title {
    font-size: 36px;
line-height: 42px;
text-transform: uppercase;
margin-bottom: 70px;
position: relative;
}
.all__collection_title::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    bottom: -39px;
    background-color: white;
    left: 50%;
    transform: translate(-50%,0);
}

.all__collection_text {
    font-weight: 400;
   font-size: 14px;
   line-height: 150%;   
   color: #FFFFFF;
   margin-bottom: 60px;
}
.all__collection_btn {
    font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.all__collection_btn a {
    color: white;
    padding: 5px 30px;
    border: 1px solid white;
    transition: all 0.3s ease 0s;
}
.all__collection_btn a:hover{
    background-color: rgb(193, 193, 193);
    color: black;
}

@media (max-width: 1400px){
    .collection__content__body {padding: 70px 40px; }
    .all__content {padding: 70px 10px;}
}
@media (max-width: 1200px){
    .collection__content__body {padding: 60px 20px; }
    .collection__content__cards { gap: 20px;}
    .collection__content__title {  margin-bottom: 70px;}
    .collection__content__title::after{bottom: -34px; }
}
@media (max-width: 992px){
    .collection__content__body {padding: 50px 20px; }
    .all__content {padding: 40px 10px;}
    .new__collection { display:block;}
    .collection__photo {  padding: 200px 10px;}
    .all__collection_title {
        font-size: 30px;
    margin-bottom: 50px;
    }
    .all__collection_title::after{ bottom: -24px;}
    .all__collection_text {
       font-size: 13px;
       margin-bottom: 50px;
    }
    .all__collection_btn {  font-size: 13px;}
}
@media (max-width: 767px){
    .collection__content__body {padding: 40px 20px; }
    .collection__content__title {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .collection__content__title::after{bottom: -19px; }
    .collection__content__cards { display: block; }
    .content__card {margin-bottom: 40px; text-align: center;}
    .content__card:last-child{margin-bottom: 10px;}
    .card__photo {
        border-radius: 30px;
        padding: 5px 10px;
        margin-bottom: 8px;
    }
    .card__photo img {
          margin: 0 auto;
          text-align: center;
    }
    .card_title {
        margin-bottom:0px;
        margin-right: 30px;
        display: inline-block;
    }
    .card_title:hover { text-decoration: underline;}
    .card__price {
        display: inline-block; 
    }
    .collection__photo {  padding: 100px 10px;}
    .collection__photo__title {
        font-size: 25px;
    }
    .all__collection {  display: block;}
    .all__photo {  display: none; }
    .all__collection_title {
        font-size: 25px;
    margin-bottom: 50px;
    }
    .all__collection_title::after{   bottom: -24px;}
}



.new {
}
.new__container {
    padding: 110px 10px;
}
.new__title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
 margin-bottom: 100px;
    text-transform: uppercase;
    position: relative;   
}
.new__title::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    bottom: -49px;
    background-color: white;
    left: 50%;
    transform: translate(-50%,0);
}
.new__content {
}
.new__top__cards {
    gap: 23px;
    margin-bottom: 40px;
}
.new__bottom__cards {
    gap: 23px;
}


.cards_btn {
    display: none;
    font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.cards_btn a {
    color: white;
    padding: 5px 30px;
    border: 1px solid white;
    transition: all 0.3s ease 0s;
}
.cards_btn a:hover{
    background-color: rgb(193, 193, 193);
    color: black;
}


@media (max-width: 992px){
    .new__container { padding: 70px 10px;}
    .new__title {
        font-size: 30px;
     margin-bottom: 70px; 
    }
    .new__title::after{    bottom: -34px; }
    .new__top__cards {
        gap: 10px;
        margin-bottom: 30px;
    }
    .new__bottom__cards { gap: 10px; }
}

@media (max-width: 767px){
    .new {border-top: 1px solid rgb(70, 70, 70); }
    .new__container { padding: 50px 10px;}
    
    .new__bottom__cards {display: none;}
    .new__title {
        font-size: 22px;
     margin-bottom: 50px; 
    }
    .new__title::after{    bottom: -24px; }
    .cards_btn {display: block;}


    .new__content {width: 100%; }
    .swiper-wrapper {
        display: flex;
        position: relative;
        flex-wrap: nowrap;
    }
    .card { 
        flex-shrink: 0;
        width: 100%;
    }
    .card:last-child{margin-bottom: 40px;}
    .card .card_title {margin-right: 10px; font-size: 15px;}
    .cards_btn {font-size: 13px;}
}






.brands {
    background-color: #0F0F0F;
}
.brands__container {
    padding: 60px 10px;
}
.brands__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase; 
    position: relative;  
    margin-bottom: 80px; 
}
.brands__title::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    bottom: -39px;
    background-color: white;
    left: 50%;
    transform: translate(-50%,0);
}


.brands__body { gap: 30px;}
.brands__item img{max-width: 100%;
}
@media (max-width: 767px){
    .brands__container { padding: 50px 10px;}
    .brands__title {
        font-size: 27px; 
        margin-bottom: 50px; 
    }
    .brands__title::after{   bottom: -24px;}
    .brands__body {gap: 5px;}
}





.info__footer {
    background: url('../images/page/form-img.jpg') center / cover no-repeat;
}
.info__container {
    padding: 80px 10px 100px 10px;
}
.info__body {
    align-items: flex-start;
    gap: 30px;
}
.info__magazine {
    flex: 0 0 33.333%;
}
.info__magazine__title {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.info__magazine__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;        
}
.info__category {
    flex: 0 0 33.333%;
}

.info__category__block {
}
.info__category_item {
    padding: 10px 20px;
    background-color: black;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
    color: #D0D0D0;
    transition: all 0.3s ease 0s;
}
.info__category_item:hover {
    outline: 1px solid white;
} 



.info__email {
    flex: 0 0 33.333%;
}
.info__email__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 35px;
}
.info__email_form {
    display: flex;
    align-items: center;
}
.form__email input{
    width: 210px;
    height: 42px;
    display: inline-block;  
    background: rgba(255, 255, 255, 0.4);
    padding: 0 10px;  
    color: #e6e6e6;
}
.form__email input::placeholder {
    color: #e6e6e6;
}

.form__email_btn button{
   display: inline-block;
   width: 140px;
   height: 42px;
   background-color: #0F0F0F;
   color: white;
   font-size: 14px;
line-height: 150%;
letter-spacing: 0.05em;
cursor: pointer;
}
.form__email_btn button:hover {
    outline: 1px solid grey;
}
@media (max-width: 1200px){
    .info__body {  gap: 50px; flex-wrap: wrap; justify-content: center; text-align: center;}
    .info__email_form {  justify-content: center;}
}
@media (max-width: 992px){
    .info__body {  gap: 30px;}
    .info__container {padding: 50px 10px 60px 10px;}
    .info__category__block {margin: 0 auto;
    }
    .info__category_item {
        display: block;
        margin-bottom: 10px;
    margin-right: 0px; 
    }
    .info__magazine {
        flex: 0 0 45%;
    }
    .info__category {
        flex: 0 0 40%;
        margin: 0 auto;
    }
}
@media (max-width: 767px){
    .info__body {  gap: 10px;}
    .info__container {padding: 40px 10px 50px 10px;}
    .info__magazine__title {
        margin-bottom: 25px;
        font-size: 20px;
        white-space: nowrap;
    }
    .info__magazine {  flex: 0 0 50%;}
    .info__magazine__text {  font-size: 13px; }
    .info__email {  margin-top: 30px;}
    .info__email__text {  margin-bottom: 15px; }
    .form__email input{
        width: 200px ;
        height: 42px;
        display: inline-block;  
        background: rgba(255, 255, 255, 0.4);
        padding: 0 10px;  
        color: #e6e6e6;
    } 
    .form__email_btn button{
       display: inline-block;
       width: 110px;
       height: 42px;
       background-color: #0F0F0F;
       color: white;
       font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.05em;
    cursor: pointer;
    }

}

.footer {
}
.footer__container {
    padding: 16px 10px;
    color: #D0D0D0;
}
.footer__copy {
    font-weight: 400;
font-size: 12px;
line-height: 16px;
}
.footer__author {
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline; 
}

/* Модальное окно картинка */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;left: 0;
    opacity: 0;
    visibility: hidden;
    /* для прокрутки внутри окна */
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.8s;
}
/* При нажатии окно появляется, так оно скрыто */
.popup.open {
    opacity: 1;
    visibility: visible;
}
.popup.open .popup__content {
    opacity: 1;
    transform: translate(0, 0) scale(1);
}
/* Стили для ссылки вокруг модального окна */

.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 10px;
}
.popup__content {
    color: black;
    width: 400px;
    height: 400px;
    padding: 60px;
    position: relative;
    transition: 0.8s;
    opacity: 0;
    transform: translate(0, -100%) scale(0.1) ;
}
.popup__close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: black;
    text-decoration: none;
}
.popup__close img {
    width: 25px;
}


.popup__content__image {
    padding: 0;
    max-width: 1000px;
  }
  
  .popup__image img {
     width: 100%;
      vertical-align: top;
  }